
.desing_grids{
    width: 300px;
    height: 400px;
    margin-right: 20px;
    margin-top: 30px;
    box-shadow: 5px -5px 13px -5px rgb(0 0 0 / 56%);
    background-color: #f8f8f8;
}
.col-image img{
    width: 270px;
    height: 270px;
    position: relative;
    top: 20px;
    left: 12px;
    cursor: pointer;
    border-radius: 20px;
 
}

.col-text{
    margin-top: 50px;
    text-align: center;
   
}

.title-produc{
    text-align: center;
    margin-top: 40px;
}

.title-produc h4{
    font-size:  30px;
    font-weight: 600;
    color: #727272;
}

.col-xs-divisor{
   
    margin-top: 50px;
}
.col-xs-divisor-2{
    width: 10%;
    height: 3px;
    background-color: #337AB7;
    margin-bottom: 30px;
    display: inline-flex;
    
}

.btn-primarys{
    margin-left: 85px
}

.contenedor-category{
    margin-bottom: 40px;
}


.design_grids-category{
    width: 350px;
    height: 350px;
    margin-right: 20px;
    margin-top: 30px;
    box-shadow: 5px -5px 13px -5px rgb(0 0 0 / 56%);
    background-color: #f8f8f8;
 
}
.col-image-category img{
    width: 200px;
    float: right;
    cursor: pointer;
    margin-top: 40px;
}



.col-text-category{
    margin-left: 20px;
    margin-top: 20px;
    width: 180px;
    text-align: center;
    background-color: rgba(255,255,255,0.6);
}
.col-text-category h4{


    justify-content: flex-start;
    display:flex;
    cursor: pointer
}

.col-text-category .hover{
    color: #337AB7;
    font-size: 15px;
    
}

.col-text-category .hover:hover{
    color: red;
    border-bottom: 1px solid red;
}
